bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.log
appsettings.Development.json
app/miappdevops.tar.gz
*.tar.gz

# Terraform
.terraform/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Archivos tar.gz temporales
*.tar.gz

# Terraform providers
.terraform/
*.bak

# Archivos tar.gz (imágenes Docker)
*.tar.gz

# Terraform providers
.terraform/providers/
